body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 1rem;
  margin-bottom: 10px;
}
.logo {
  width: 360px;
}
h1 {
  font-family: "Racing Sans One", sans-serif;
  font-size: 3rem;
  letter-spacing: 1px;
  margin: 0;
  text-align: center;
  color: #872020;
  line-height: 3.5rem;
  margin-bottom: 20px;
}
h2 {
  font-family: "Kaushan Script", cursive;
  font-weight: 800;
  font-size: 5rem;
  text-align: center;
  color: #365E37;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin: 60px 0px 20px 0px;
}
h3{
    font-family: "Racing Sans One", sans-serif;
    font-size: 1.8rem;
    line-height: 2rem;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
    font-weight: 500px;
    color: #1E5667;
    text-align: center;
}
h4{
    font-family: "Racing Sans One", sans-serif;
    font-size: 1.8rem;
    line-height: 2rem;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
    font-weight: 500px;
    color: #1E5667;
    text-align: center;
}
.blocnavbar{
    width: 100%;
    height: 60px;
    margin-top: 40px;
}
.menu {
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    font-size: 26px;
    color: #000000;
}
.selection{
    text-align: center;
    font-size: 26px;
    font-weight:900;
    color: brown;
}
a, .trait {
    margin: 0 10px;
    color: #000000;
    font-weight: 400;
    font-size: 20px;
}
.conteneureditorial {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0px 60px 0px;

}
.editorial{
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
}
.texteeditorial{
  font-size: 20px;
  text-align: justify;
  color: #000000;
}


main {
  padding: 1rem;
  max-width: 800px;
  margin: auto;
}
.saisir_vin {
  background-color: rgb(250, 247, 241);
  padding: 20px;
  width: 90%;
  margin: auto;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
}
form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}
form input, form select, form button {
  padding: 0.5rem;
  flex: 100px;
  font-size: 1rem;
}
button {
  background-color: #8AAE27;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #365E37;
}


.macave {
  width: 90%;
  margin: 0 auto;
}
#wine-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.wine-card {
  margin: 10px;
  text-align: center;
  background-color: white;
  border-bottom: 10px solid #872020;
  padding: 1rem;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.wine-card h3 {
  margin: 0 auto;
  color: #872020;
  font-size: 2.5rem;
  font-family: "Kaushan Script", cursive;
  font-weight: 800;
}
.wine-card p {
  margin: 0.5rem 0;
  font-size: 1.2rem;
}
.wine-card img {
  width: 100px;
  height: auto;
  margin-bottom: 1rem;
}
.wine-card button {
  background: #8AAE27;
  color: white;
  border: none;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  font-size: 1.2rem;
}
.couleur {
  color: #872020;
  font-size: 1.2rem;
  font-weight: bold;
}


.evaluation {
  display: flex;
  cursor: pointer;
  font-size: 2rem;
  color: lightgray;
}

.evaluation span.selected {
  color: #872020;
}