*{
    margin: 0 auto;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}
body{
    text-align: center;
    max-height: 100%;
}

/* body */

.conteneurblocs{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}
.bloc1{
    width: 350px;
    height: 350px;
    border-radius: 10px 0px 10px 0px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    margin-bottom: 40px;
}
.bloc2{
    width: 350px;
    height: 350px;
    border-radius: 10px 0px 10px 0px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}
.bloc1:hover {
    transform: scale(1.05);
}
.bloc2:hover {
    transform: scale(1.05);
}
.blocimage{
    width: 350px;
    margin-bottom: 20px;
}
.lienhtml{
    font-size: 20px;
    text-decoration: none;
    font-weight: 400;
    color:black;
}

/* footer */
.footerindex{
    width: 100%;
    margin-top: 50px;
}
.blocsite{
    height: 60px;
    padding: 10px;
}
.textesite{
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color:#F66960;
    line-height: 30px;
    padding-top: 20px;
}
